:root {
  --detail-color-1: #ff5da6;
  --detail-color-1-hover: #d14b87;
  --bg-color: #f5c8d2;
  --detail-color-2: #fff;
  --detail-color-2-hover: #ddd;
  --detail-color-2-click: #9a98ff;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #333;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tracks {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--bg-color);
  width: 300px;
  border-radius: 5px;
}

.tracks::before {
  content: "Tracks";
  background-color: var(--bg-color);
  position: absolute;
  padding: 10px;
  top: -38px;
  left: 0;
  border-radius: 5px;
  font-weight: 600;
}

.tracks li {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: var(--detail-color-1);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.tracks li:hover {
  background-color: var(--detail-color-1-hover);
}

.tracks img {
  width: 50px;
  height: 50px;
}

.tracks .info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.card {
  background-color: var(--bg-color);
  width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.card i {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
}

.card,
i,
img,
.dot {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.card i:not(.play):hover,
.card i:not(.pause):hover {
  background-color: var(--detail-color-2-hover);
}

.card i.play:hover,
.card i.pause:hover {
  background-color: var(--detail-color-1-hover);
}

.card div {
  width: 100%;
  align-items: center;
}

.card .tools {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: var(--detail-color-1);
}

.card .tools i {
  background-color: var(--detail-color-2);
  width: 40px;
  height: 40px;
  font-size: 15px;
  border-radius: 50%;
}

.card .tools i.repeat-on {
  background-color: var(--detail-color-2-click);
}

.card .tools i.shuffle-on {
  background-color: var(--detail-color-2-click);
}

.card .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .info img {
  width: 200px;
  height: 200px;
  border: 10px solid var(--detail-color-2);
  border-radius: 50%;
  margin: 40px 0px;
  animation-duration: 10s;
  animation-name: spin;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card .info h2 {
  font-size: 24x;
}

.card .info p {
  font-size: px;
}

.card .player {
  background-color: var(--detail-color-1);
  height: 4px;
  margin: 40px 0px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.card .player .dot {
  position: absolute;
  background-color: var(--detail-color-1);
  width: 20px;
  height: 20px;
  border: 5px solid var(--detail-color-2);
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.card .controls {
  display: flex;
  justify-content: center;
}

.card .controls .push {
  background-color: var(--detail-color-2);
  color: var(--detail-color-1);
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.card .controls .play,
.card .controls .pause {
  background-color: var(--detail-color-1);
  color: var(--detail-color-2);
  width: 100px;
  height: 100px;
  font-size: 28px;
  margin: 0px 20px;
}

.card .controls .pause {
  display: none;
}
