:root {
  --item-color: #ff5da6;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #333;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: #f5c8d2;
  width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.card i {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
}

.card,
i,
img,
.dot {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.card i:not(.play):hover,
.card i:not(.pause):hover {
  background-color: #ddd;
}

.card i.play:hover,
.card i.pause:hover {
  background-color: #d14b87;
}

.card div {
  width: 100%;
  align-items: center;
}

.card .tools {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: var(--item-color);
}

.card .tools i {
  background-color: white;
  width: 40px;
  height: 40px;
  font-size: 15px;
  border-radius: 50%;
}

.card .tools i.repeat-on {
  background-color: #9a98ff;
}

.card .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .info img {
  width: 200px;
  height: 200px;
  border: 10px solid white;
  border-radius: 50%;
  margin: 40px 0px;
  animation-duration: 10s;
  animation-name: spin;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card .info h2 {
  font-size: 24x;
}

.card .info p {
  font-size: px;
}

.card .player {
  background-color: var(--item-color);
  height: 4px;
  margin: 40px 0px;
  position: relative;
}

.card .player .dot {
  position: absolute;
  background-color: var(--item-color);
  width: 20px;
  height: 20px;
  border: 5px solid white;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.card .controls {
  display: flex;
  justify-content: center;
}

.card .controls .push {
  background-color: white;
  color: var(--item-color);
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.card .controls .play,
.card .controls .pause {
  background-color: var(--item-color);
  color: white;
  width: 100px;
  height: 100px;
  font-size: 28px;
  margin: 0px 20px;
}

.card .controls .pause {
  display: none;
}
